.contact-container {
    display: flex;
    flex-direction: row;
    color: #675fc7;
    width: 100%;
    padding-top: 20px;
    height: 65px;
}

.contact-message {
    padding-left: 150px;
}

.contact-callcenter img {
    height: 450px;
    width: 700px;
   
}

.contact-title {
    color: #675fc7;

    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}



.contact-message p {
    color: #656FC7;
    text-align: center;

}

.contact-info {
    display: flex;
    flex-direction: row;
}

.contact-info input {
    width: 200px;
    height: 20px;
    border-radius: 25px;
    border: 2px solid #675fc7;
    padding: 10px;
}

.contact-name {
    margin-top: 20px;
    margin-right: 20px;
}

.contact-lastname {
    margin-top: 20px;
    margin-right: 20px;
}

.message {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #675fc7;
    padding: 10px;
}

.submit {
    background-color: #675fc7;
    border: none;
    height: 40px;
    width: 150px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;

}

.contact-message {
    align-items: center;
    justify-content: center;
}
.contact-email{
    display: flex;
    flex-direction: row;
    color: #675fc7;
    margin-top: 10px;
}
.contact-email img{ 
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 10px;

}
.contact h1{
    color: #675fc7;
    margin-left: 20px;
 }

 .contact-socialmedia{ 
    display: flex;
    flex-direction: row;
 }

 .contact-callcenter2{
    margin-left: 500px;
    color: #675fc7;
 }

 