.orderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderFlex {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderTitle {
    font-size: 35px;
    color: #675FC7;
    font-weight: bold;
    margin-bottom: 25px;
}

.orderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;
    padding: 30px;
}

.orderInfoCont {
    margin-bottom: 10px;
    width: 400px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid #675FC7;
    padding: 10px;
}

.wid {
    width: 185px;
    margin-right: 8px;
}

.placeOrderBtn {
    height: 35px;
    width: 200px;
    background-color: #675FC7;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.selectCountry {
    width: 424px;
    height: 40px;
}

.verticalLine {
    border: none;
    border-left: 1px solid #675FC7
}

.orderedProductIndo {
    display: flex;
    margin-bottom: 10px;
}

.orderProductImage {
    width: 150px;
    height: 150px;
}

.orderProductName {
    color: #675FC7;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 30px;
}

.bin {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    cursor: pointer;
}

.price {
    display: flex;
    margin-bottom: 20px;

}

.subText {
    font-weight: bold;
    color: #675FC7;
    font-size: 20px;
    margin-right: 150px;
}

.order-shipping {
    background-color: #656FC7;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.order-shipping1 {
    background-color: #F8F8F8;
    width: 80%;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.price {
    margin-left: 10px;
}

@media screen and (min-width: 360px) and (max-width: 1024px) {

    .orderFlex {
        width: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .orderInfoCont {
        width: 250px;

    }

    .selectCountry {
        width: 250px;
    }

    .orderDiv {
        padding: 0px;
    }

}