.product {
  margin-right: 20px;
}

.image-product {
  height: 250px;
  width: 300px;
  border: 2px solid #656fc7;
  margin-bottom: 20px;
}
.quantity {
  padding: 50px;
}
.product-information {
  display: flex;
  width: 300px;
  border: 2px solid #656fc7;
  margin-bottom: 20px;
}
.product-name {
  width: 75%;
  color: #656fc7;
  font-weight: 500;
  padding: 10px;
}

.add-to-cart {
  width: 25%;
  background-color: #656fc7;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}
.productbtn-add {
  background-color: #675fc7;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.product-arrowdown {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}
.product-arrowup {
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 360px) and (max-width: 1024px) {
  .image-product {
    height: 140px;
    width: 150px;
  }
  .product-information {
    
    width: 150px;
  }
}
